.MobileNav {
    background-color: orangered;
    width: 250px;
}

.MobileNav__closed {
    background-color: violet;
    left: -300px;
    opacity: 0;
}

.MobileNav__open {
    background-color: lightgreen;
    opacity: 1;
    top: 0;
    left: 0;
}

/* .Backdrop .MobileNav__closed {
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    position: relative;
    z-index: -10;
}

.Backdrop .MobileNav__open {
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: visible;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
} */